@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    background: black;
    font-family: 'Play', sans-serif;
}

#playBtn{
    font-size:4em;
    position: absolute;
    margin: auto;
    top:25%;
    left:40%;
    width:400px;
    background:white;
    z-index:1000;
    padding:1em;
}

#Win{
    font-size:4em;
    position: absolute;
    margin: auto;
    top:25%;
    left:40%;
    width:400px;
    background:green;
    z-index:1000;
    visibility: hidden;
    padding:2em;
}

.timer{
    position: absolute;
    top:5%;
    left:0;
    background:white;
    z-index:1000;
    font-size:2em;
    padding:10px;
}

.cubes{
    position: absolute;
    top:5%;
    left:85%;
    background:white;
    z-index:1000;
    font-size:2em;
    width:200px;
    padding:10px;
}

.whiteCubes{
    position: absolute;
    top:20%;
    left:85%;
    background:white;
    z-index:1000;
    font-size:2em;
    width:200px;
    padding:10px;
}


a-scene {
    height: 100%;
    width: 100%;
}