@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{

    font-family: 'Play', sans-serif;
    color:white;
    /*background:#3d86b3;*/
    background-image: url("energy.jpg") ;
}

.container{
    width:100%;
    height:auto;
}

button{
    font-size:2em;
    background:#3d86b3;
    color:white;
    border:none;
    border-radius:5px;
}

.center{
    margin:auto;
    width:1000px;
    background:black;
    min-height:800px;
    padding:2em;
    border:white 2px solid;
}

.image{
    float:right;
    width:200px;
    height:auto;
}